.Ticketer {
    text-align: center;
    background-color: black;
    flex-direction: column;
    align-items: center;
    display:flex;
    min-height: 100vh;
  }
  
  /* .Ticketer-header {
    width: 50%;
 
  } */
  
  @media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */
  
    .Ticketer-header {
      width:100%;
    }
  }