.App {
  text-align: center;
  background-color: black;
  flex-direction: column;
  align-items: center;
  color: white;
  display:flex;
}

.App-header {
  width: 50%;
}

.App-logo {
  width: 30%;
}

.App-link {
  color: #61dafb;
}

@media (max-width: 800px) {
  /* CSS that should be displayed if width is equal to or less than 800px goes here */

  .App-header {
    width:100%;
  }

  .App-logo {
    width: 70%;
  }
}